<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdGoDO6LwBK7fEmpVf6PDg2NP8eoBEnAg</string>
	<key>GCM_SENDER_ID</key>
	<string>215848634527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-fbcfa</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-fbcfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215848634527:ios:ff3a52e4df3f2e1ed83aaa</string>
</dict>
</plist>